$color1: #ffd65c;
$color2: #5b618a;
$color3: #272838;
$color4: #1b998b;
$color5: #ef946c;

$background-color: $color2;

$header-height: 100px;
$footer-height: 80px;

// overall stuff

h1, h2, h3, h4, h5, h6 {
  margin: 0px;
  padding: 0px;
  font-weight: normal;
}

html, body {
  height: 100%;
  background: $background-color;
}

.container{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: yellow;
  height: 100%;
  flex-flow: column;
  display: flex;
}

// header stuff

.header{
  color: $color1;
  display: flex;
  background: $color3;
  min-height: $header-height;
}
.header-center{
  display: flex;
  flex-flow: column;
  margin-left: auto;
  margin-right: auto;
}
.title, .email{
  flex: 1;
  text-align: center;
  padding: 10px 0;
}

// footer stuff

.footer{
  display: flex;
  background: $color3;
  min-height: $footer-height;
}

.github-logo{
  margin-right: 10px;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.github-logo img{
  height: 40px;
  width: 40px;
}

// tab stuff

.content{
  flex: 1;
  background: $background-color;
  display: flex;
  flex-flow: column;
}

.tabs{
  display: flex;
  flex-flow: column;
  flex: 1;
  margin: 10px;
}

.tab-labels{
  display: flex;
  flex-flow: row;
}

.label{
  cursor: pointer;
  flex: 1;
  min-height: 40px;
  background: $color4;
  margin: 10px 10px 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px 10px 0 0;
}

.label:hover{
  color: $color1;
}

.label.selected{
  color: $color1;
  background: $color3;
}

.tab-pane{
  padding: 10px;
  flex: 1;
  background: $color3;
  margin: 0 10px 10px 10px;
  color: white;
  border-radius: 0 0 10px 10px;
}