h1, h2, h3, h4, h5, h6 {
  margin: 0px;
  padding: 0px;
  font-weight: normal; }

html, body {
  height: 100%;
  background: #5b618a; }

.container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: yellow;
  height: 100%;
  flex-flow: column;
  display: flex; }

.header {
  color: #ffd65c;
  display: flex;
  background: #272838;
  min-height: 100px; }

.header-center {
  display: flex;
  flex-flow: column;
  margin-left: auto;
  margin-right: auto; }

.title, .email {
  flex: 1;
  text-align: center;
  padding: 10px 0; }

.footer {
  display: flex;
  background: #272838;
  min-height: 80px; }

.github-logo {
  margin-right: 10px;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto; }

.github-logo img {
  height: 40px;
  width: 40px; }

.content {
  flex: 1;
  background: #5b618a;
  display: flex;
  flex-flow: column; }

.tabs {
  display: flex;
  flex-flow: column;
  flex: 1;
  margin: 10px; }

.tab-labels {
  display: flex;
  flex-flow: row; }

.label {
  cursor: pointer;
  flex: 1;
  min-height: 40px;
  background: #1b998b;
  margin: 10px 10px 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px 10px 0 0; }

.label:hover {
  color: #ffd65c; }

.label.selected {
  color: #ffd65c;
  background: #272838; }

.tab-pane {
  padding: 10px;
  flex: 1;
  background: #272838;
  margin: 0 10px 10px 10px;
  color: white;
  border-radius: 0 0 10px 10px; }
